# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/

# uv
.venv/
.cache/
.uv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Training outputs
# output/models/*.pth
# output/models/*.bin

# Data
data/raw/*.mp4
data/cropped/*.png
data/temporal/*.npy
data/framediff/*.png

# Data collection
data/raw/xvideos/*.mp4
